<ion-header>
  <ion-toolbar mode="ios">
    <ion-title> Meu carro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" color="primary" (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="p-24">
    <div *ngIf="!caronas" class="w-100 d-flex justify-content-center">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="caronas">
      <div
        class="div-card p-20 mb-16 ion-activatable ripple-parent"
        *ngFor="let carona of caronas"
        routerLink="detalhe-carona/{{carona._id}}"
      >
        <ion-row>
          <ion-col size="4" class="d-flex flex-column p-0">
            <ion-label class="label-caption-1 color-gray-light-1"
              >Data</ion-label
            >
            <ion-label class="label-caption-1 color-gray-light-1"
              >Rota</ion-label
            >
            <ion-label class="label-caption-1 color-gray-light-1"
              >Passageiros</ion-label
            >
          </ion-col>
          <ion-col class="d-flex flex-column p-0">
            <ion-label class="label-caption-1">
              {{carona.dataHorarioSaida | date: 'dd/MM/yyyy - HH:mm'}}
            </ion-label>
            <ion-label class="label-caption-1"
              >{{carona.enderecoSaida}} > {{carona.enderecoDestino}}</ion-label
            >
            <ion-label class="label-caption-1"
              >{{ carona.vagasOfertadas - carona.vagasDisponiveis }}
            </ion-label>
          </ion-col>
          <ion-col
            size="1"
            class="d-flex align-items-center justify-content-center p-0"
          >
            <ion-icon name="chevron-forward" color="primary"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="carona.solicitacoesPendentes">
          <ion-col class="p-0">
            <span class="color-primary label-caption-1">
              Solicitações pendentes ({{carona.solicitacoesPendentes}})</span
            >
          </ion-col>
        </ion-row>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div> </ion-grid
></ion-content>

<ion-footer class="px-24 py-16">
  <ion-button class="action-button" routerLink="nova-carona">
    Oferecer carona
  </ion-button>
</ion-footer>
