@import "../../theme/variables.scss";

.camera-edit {
  position: absolute;
  left: 11vw;
  bottom: 0vw;
  background: white;
  border-radius: 17px;
  font-size: 5vw !important;
  box-shadow: $card-box-shadow;
  padding: 0.5vw;
  color: $color-gray-default;
}

.label-caption-1 {
  font-weight: bold;
}
