<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Minhas caronas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" color="primary" (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="p-24">
    <div *ngIf="solicitacoes">
      <div
        class="div-card p-20 mt-16 ion-activatable ripple-parent"
        *ngFor="let sol of solicitacoes"
        routerLink="detalhe-carona/{{sol.carona._id}}"
      >
        <ion-row>
          <ion-col size="3" class="px-0 d-flex justify-content-center">
            <ion-icon
              name="person-circle"
              class="icone-usuario"
              color="primary"
            ></ion-icon>
          </ion-col>
          <ion-col class="d-flex flex-column p-0 justify-content-around">
            <ion-label class="label-body-2 color-gray-dark"
              ><b
                >{{sol.motorista ? sol.motorista.nome : 'Motorista'}}</b
              ></ion-label
            >
            <ion-label class="label-caption-1"
              >{{sol.carona.enderecoSaida}} >
              {{sol.carona.enderecoDestino}}</ion-label
            >

            <div class="d-flex">
              <ion-label class="label-caption-1 mr-16"
                >{{sol.carona.dataHorarioSaida | date: 'HH:mm'}}</ion-label
              >

              <ion-label class="label-caption-1 mr-16"
                >{{sol.carona.vagasDisponiveis}} vagas</ion-label
              >

              <ion-label class="label-caption-1"
                >R$ {{sol.carona.valor}}</ion-label
              >
            </div>
          </ion-col>
          <ion-col
            size="1"
            class="d-flex align-items-center justify-content-center p-0"
          >
            <ion-icon name="chevron-forward" color="primary"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div> </ion-grid
></ion-content>
