<div class="d-flex mt-4">
  <div class="d-flex align-items-center">
    <ion-icon
      *ngIf="stars < 0.6"
      name="star-outline"
      class="star review-star-empty"
    ></ion-icon>
    <ion-icon
      *ngIf="stars >= 0.6"
      name="star"
      class="star review-star-full"
    ></ion-icon>

    <ion-icon
      *ngIf="stars < 1.5"
      name="star-outline"
      class="star review-star-empty"
    ></ion-icon>
    <ion-icon
      *ngIf="stars >= 1.5"
      name="star"
      class="star review-star-full"
    ></ion-icon>

    <ion-icon
      *ngIf="stars < 2.5"
      name="star-outline"
      class="star review-star-empty"
    ></ion-icon>
    <ion-icon
      *ngIf="stars >= 2.5"
      name="star"
      class="star review-star-full"
    ></ion-icon>

    <ion-icon
      *ngIf="stars < 3.5"
      name="star-outline"
      class="star review-star-empty"
    ></ion-icon>
    <ion-icon
      *ngIf="stars >= 3.5"
      name="star"
      class="star review-star-full"
    ></ion-icon>

    <ion-icon
      *ngIf="stars < 4.5"
      name="star-outline"
      class="star review-star-empty"
    ></ion-icon>
    <ion-icon
      *ngIf="stars >= 4.5"
      name="star"
      class="star review-star-full"
    ></ion-icon>
  </div>
</div>
